/* Small devices (landscape phones, 315px and up)*/
@media (min-width: 315px) {  
    .navbar {
        margin: 15px;
    }
    
    .navbar-inverse {
        background: transparent;
        border: 0px solid black;
    }
    .navbar-toggle{
        margin-right: 0px;
    }
    .navbar-brand {
        font-family: Quicksand-Bold;
        font-size: 15px;
        padding: 15px 5px;
    }
    
    .navbar-right {
        font-family: Quicksand-Bold;
        font-size: 20px;
    }
    
    .navbar-right:hover {
        font-size: 21px;
    }
    
    a {
        color: #ffffff !important;
    }
    
    .dropdown, .dropdown-toggle, .dropdown-menu {
        background: transparent !important;
    }
    
    a:hover {
        background: transparent !important;
    }
    
    .drop-option:hover {
        font-size: 15px;
    }
    
    
    .msg {
        font-family: Quicksand-Bold;
        border: 1px solid #ffffff;
        margin-top: 4%;
    }
    
    .modal-content {
        background: transparent !important;
        border: 1px solid #ffffff;
        margin-top: 20%;
    }
    
    .modal-title {
        color: #ffffff !important;
    }
    
    .input-group {
        margin-top: 20px;
    }
    
    .cart{
        cursor: pointer;
    }
    
    .cart:hover{
        color: greenyellow;
        
    }
    
    .mtableData{
        width: 100px;
    }
    
    label{
        color:#ffffff;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .navbar {
        margin: 30px;
    }
    
    .navbar-inverse {
        background: transparent;
        border: 0px solid black;
    }
    .navbar-toggle{
        margin-right: 0px;
    }
    .navbar-brand {
        font-family: Quicksand-Bold;
        font-size: 22px;
        padding: 15px 15px;
    }
    
    .navbar-right {
        font-family: Quicksand-Bold;
        font-size: 20px;
    }
    
    .navbar-right:hover {
        font-size: 21px;
    }
    
    a {
        color: #ffffff !important;
    }
    
    .dropdown, .dropdown-toggle, .dropdown-menu {
        background: transparent !important;
    }
    
    a:hover {
        background: transparent !important;
    }
    
    .drop-option:hover {
        font-size: 15px;
    }
    
    
    .msg {
        font-family: Quicksand-Bold;
        border: 1px solid #ffffff;
        margin-top: 4%;
    }
    
    .modal-content {
        background: transparent !important;
        border: 1px solid #ffffff;
        margin-top: 20%;
    }
    
    .modal-title {
        color: #ffffff !important;
    }
    
    .input-group {
        margin-top: 20px;
    }
    
    .cart{
        cursor: pointer;
    }
    
    .cart:hover{
        color: greenyellow;
        
    }
    
    .mtableData{
        width: 100px;
    }
    
    label{
        color:#ffffff;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .navbar {
        margin: 30px;
    }
    
    .navbar-inverse {
        background: transparent;
        border: 0px solid black;
    }
    
    .navbar-brand {
        font-family: Quicksand-Bold;
        font-size: 25px;
    }
    
    .navbar-right {
        font-family: Quicksand-Bold;
        font-size: 20px;
    }
    
    .navbar-right:hover {
        font-size: 21px;
    }
    
    a {
        color: #ffffff !important;
    }
    
    .dropdown, .dropdown-toggle, .dropdown-menu {
        background: transparent !important;
    }
    
    a:hover {
        background: transparent !important;
    }
    
    .drop-option:hover {
        font-size: 15px;
    }
    
    
    .msg {
        font-family: Quicksand-Bold;
        border: 1px solid #ffffff;
        margin-top: 4%;
    }
    
    .modal-content {
        background: transparent !important;
        border: 1px solid #ffffff;
        margin-top: 20%;
    }
    
    .modal-title {
        color: #ffffff !important;
    }
    
    .input-group {
        margin-top: 20px;
    }
    
    .cart{
        cursor: pointer;
    }
    
    .cart:hover{
        color: greenyellow;
        
    }
    
    .mtableData{
        width: 100px;
    }
    
    label{
        color:#ffffff;
    }
    
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .navbar {
        margin: 30px;
    }
    
    .navbar-inverse {
        background: transparent;
        border: 0px solid black;
    }
    
    .navbar-brand {
        font-family: Quicksand-Bold;
        font-size: 25px;
    }
    
    .navbar-right {
        font-family: Quicksand-Bold;
        font-size: 20px;
    }
    
    .navbar-right:hover {
        font-size: 21px;
    }
    
    a {
        color: #ffffff !important;
    }
    
    .dropdown, .dropdown-toggle, .dropdown-menu {
        background: transparent !important;
    }
    
    a:hover {
        background: transparent !important;
    }
    
    .drop-option:hover {
        font-size: 15px;
    }
    
    
    .msg {
        font-family: Quicksand-Bold;
        border: 1px solid #ffffff;
        margin-top: 4%;
    }
    
    .modal-content {
        background: transparent !important;
        border: 1px solid #ffffff;
        margin-top: 20%;
    }
    
    .modal-title {
        color: #ffffff !important;
    }
    
    .input-group {
        margin-top: 20px;
    }
    
    .cart{
        cursor: pointer;
    }
    
    .cart:hover{
        color: greenyellow;
        
    }
    
    .mtableData{
        width: 100px;
    }
    
    label{
        color:#ffffff;
    }
    
 }